# label _ 생존을 0과 1로

In [3]:
import numpy as np
import pandas as pd

In [4]:
label_df = pd.read_csv('C:/Users/CPB06GameN/Desktop/빅콘/2019_빅콘테스트_챔피언스리그_데이터/train_label.csv')

In [5]:
label_df.tail()

       acc_id  survival_time  amount_spent
39995   13809             64      0.302485
39996   83195             64      0.005119
39997   17325             64      0.047182
39998   99716             39      0.000000
39999   27258             64      0.006661

##### 생존을 1, 아니면 0으로 표현하기 위한 작업

In [6]:
label_df['simple'] = 0
label_df.tail()

       acc_id  survival_time  amount_spent  simple
39995   13809             64      0.302485       0
39996   83195             64      0.005119       0
39997   17325             64      0.047182       0
39998   99716             39      0.000000       0
39999   27258             64      0.006661       0

#### 64가 넘으면 1, 아니면 0으로 표시

In [7]:
label_df['simple']=np.where(label_df['survival_time'] > 63, 1, 0)

In [8]:
label_df.tail()

       acc_id  survival_time  amount_spent  simple
39995   13809             64      0.302485       1
39996   83195             64      0.005119       1
39997   17325             64      0.047182       1
39998   99716             39      0.000000       0
39999   27258             64      0.006661       1